body {
    background-color: bisque; 
}

.navigation ul {
    letter-spacing: 2px;
    font-size: 20px;
    margin: 0;
    padding: 0; 
}

.navigation li {
    display: block; 
    float: right; 
    padding: 10px;
}

 .navigation a:link {
    text-decoration: none;
    color: black; 
 }
 
 .navigation a:visited {
    text-decoration: none;
    color: black;
 }

 .navigation a:hover {

 }
h1 {
    text-align: left; 
    font-size: 200px;
}

.header {
    font-size: 50px;
    text-align: left;
}

#headshot {
    max-width: 100%;
    max-height: 100%;
    align-items: center;
}


#photo-of-me {
    background-color: blue;
    width: 40%; 
    float: left; 
    padding-bottom: 20px; 
}

#about-summary {
    background-color: purple;
    width: 60%;
    float: left;  
    padding-bottom: 700px;
    text-align: center;
}

#contact-content {
    font-size: 50px;
}

.email {
    font-size: 20px;
}
.email a:link {
    color: black; 
}

.on-the-internet {
    font-size: 20px;
}

.on-the-internet a:link { 
    /* figure out how to turn links black  */
    color: black; 
}
