body {
    background-color: #f2c7c5;  
    display: flex; 
    flex-direction: column;
    margin: 0px; 
    /* background-image: url("images/background1.jpeg"); */
}

.navigation ul {
    letter-spacing: 2px;
    font-size: 20px;
    /* font-weight: bold; */
    margin: 0;
    padding: 20px;
}

.navigation li {
    display: block; 
    float: right; 
    padding: 10px;
    background-color: #f2c7c5;
}

#navbar {
    /* background-color: #f2c7c5; */
    background-image: url("images/background1.jpeg");
    padding-top: 30x;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.sticky + .content {
    padding-top: 60px;
  }

a {
    color: black
}

p {
    letter-spacing: 1.5px;
    font-size: 20px;
}

 .navigation a:link {
    text-decoration: none;
    color: black; 
 }

 .navigation a:hover {
    text-decoration: underline;
    color: black;
 }

.hello {
    font-size: 500px;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 0px;
}

h1 {
    text-align: left; 
    font-size: 200px;
    margin-top: 40px; 
    margin-bottom: 25px;
    padding-left: 20px;
}

.header {
    font-size: 50px;
    text-align: center;
    padding-left: 50px;
}

#home {
    padding-bottom: 100px;
}

#headshot {
    max-width: 80%;
    max-height: 80%;
    align-items: center;
    padding-left: 40px;
}

#photo-of-me {
    background-color: #f2c7c5;
    width: 40%; 
    float: left; 
    padding-bottom: 0; 
}

#summary {
    background-color:#f2c7c5;
    width: 60%; 
    padding-bottom: 500px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

#summary p {
    font-size: 20px; 
    letter-spacing: 1.5px;
    vertical-align: middle;
}

.projects {
    padding: 25px 50px; 
}

.resume {
    padding-bottom: 300px; 
}

.contact-info {
    background-color: #EAB003;
    border-style: solid;
    margin: 15px; 
    padding: 25px 50px; 
    width: 45%; 
}

.simple {
    font-size: 50px;
    letter-spacing: 1.5px;
}

.email {
    font-size: 20px;
}

.email a:link {
    text-decoration: none;
    color: black; 
}

.email a:hover{
    color: black; 
    text-decoration: underline; 
}

.ontheinternet {
    font-size: 20px;
}

.ontheinternet a:link {
    text-decoration: none;
    color: black; 
}

.ontheinternet p a:hover { 
    color: black; 
    text-decoration: underline;
}

header {
    font-size: 40px;
    letter-spacing: 1.5px;
    text-align: center;
    font-weight: bold; 
    padding: 25px 10px;
}

.technical {
    background-color: #EAB003;
    border-color: black;
    border-style: solid;
    float:left; 
    font-size: 20px;
    letter-spacing: 1.5px;  
    padding-bottom: 135px;
    margin: 25px 25px;
    width: 27%;
}

.industry-knowledge {
    background-color: #D65282;
    border-color: black;
    border-style: solid;
    float: left; 
    font-size: 20px;
    letter-spacing: 1.5px;
    padding-bottom: 160px; 
    vertical-align: middle;
    margin: 25px 25px;
    width: 35%;
}

.interpersonal {
    background-color: #FDA172;
    border-color: black;
    border-style: solid;
    float: left; 
    font-size: 20px;
    letter-spacing: 1.5px;
    padding-bottom: 115px;
    margin: 25px 25px;
    width: 27%;
}

footer {
    text-align: right;
    padding-right: 20px; 
    letter-spacing: 1.5px;
    /* background-image: url("images/background1.jpeg"); */
}